#backIcon:hover{
    -fx-cursor: hand;
}

.panContainer{
    -fx-border-style: hidden  hidden solid hidden;
    -fx-border-color: #2a283b;
}

.borderStyle{
    -fx-border-style: solid;
    -fx-border-color: #2a283b;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-color: #282637;
    -fx-text-fill: #ffffff;

}

.themeBtn{
    -fx-background-radius: 20px;
    -fx-pref-width: 40px;
    -fx-pref-height:40px;
}

.hand:hover{
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.choice-box .context-menu {
    -fx-pref-width: 300;
}

.bgcTransparent{
    -fx-background-color: #1c1a26;
}

.choice-box .list-cell {
    -fx-background-color: #282637;
    -fx-text-fill: #ffffff;
}

.text-area {
    text-area-background:#282637 ;
}

.text-area .content {
    -fx-background-color:#282637 ;
}

.check-box .box {

    -fx-background-color: #282637 ;
    -fx-border-radius:3px;

}

.comboFocus .list-cell{
    -fx-text-fill: #f6f6f6 !important;
    -fx-background-color: #111111 !important;
    -fx-font-weight: bold;
}

.comboFocus .list-cell:hover{
    -fx-text-fill: #ffffff !important;
    -fx-background-color: #001a4d !important;
    -fx-font-weight: bold;
}

/*.check-box:selected .mark {*/

/*    -fx-background-color: white;*/

/*}*/

/*.check-box:selected .box {*/

/*    -fx-background-color: #28a3f4;*/
/*}*/
