#scrollPane{
    /*-fx-background: #151515;*/
    /*-fx-border-color: #151515;*/
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}