#commentScrollPane{
    -fx-background: #151515;
    -fx-border-color: #151515;
    -fx-border-width: 1
}

.scroll-pane {
    -fx-background-color: #151515;
}
.toolbarButton{
    -fx-text-fill: white;
}

.toolbarButton:hover {
    -fx-background-color: #151515;
    -fx-cursor: hand;
}
#backBtn{
    -fx-background-image: url("/com/example/car_rental_sys/image/UI/back-blue.png");
    /*-fx-graphic: url(/com/example/car_rental_sys/image/UI/back-blue.png);*/
}


#backBtn:hover {
    -fx-background-image: url("/com/example/car_rental_sys/image/UI/back-white.png");
    /*-fx-graphic: url(/com/example/car_rental_sys/image/UI/back-white.png);*/
    -fx-cursor: hand;
}