.lblPriTrackText{
    -fx-text-fill: #1D2129;
}

.lblSecondTrackText{}

.lblStatusText{
    -fx-text-fill: #4E5969;
}

.lblFocusText{
    -fx-text-fill: #165DFF;
    -fx-font-size: 20px;
}

.dotStatus{
    -fx-background-color: #4e5969;
}

#lineStatus{
    -fx-stroke: #e5e6eb !important;
}

.pane-active{
    -fx-background-color: #165DFF !important;
    -fx-background-radius: 4px;
}

.pane-inactive{
    -fx-background-color: #f2f3f5 !important;
    -fx-background-radius: 4px;
}